.documentListItem {
  cursor: pointer;
  padding: 5px;
  border-radius: var(--radius-3);
  transition: background-color 0.1s;

  .deleteButton {
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover {
    background-color: var(--gray-5);
    color: var(--gray-11);

    .deleteButton {
      opacity: 1;
    }
  }

  &.selected {
    background-color: var(--accent-4);
    color: var(--accent-11);
    
    &:hover {
      background-color: var(--accent-5);
      color: var(--accent-11);

    }
  }
}

.deleteButton {
  cursor: pointer !important;
}

